.toggle {
  margin-top: -40px;
}
.media-box-heading {
  font-size: 18px;
}
.item-display {
  font-size: 16px;
}
small, .small {
  font-size: 95% !important;
}
.list-group {
  margin-bottom: 5px !important;
}
