
<ng-template tabHeading>
  <em class="icon-people"></em>&nbsp;&nbsp;People ({{data?.peopleKeys.length}})
</ng-template>
<div>

  <div class="panel-body bb bt">
    <div class="half-width inline mt">
      <p-dropdown
        [options]="fb?.peopleNameArray"
        [styleClass]="'half-width'"
        [(ngModel)]="personToAdd"
        [placeholder]="'Select Person'"
        [filter]="true"></p-dropdown>
      &nbsp;
      <button class="btn btn-info" type="button" (click)="addPerson()">Add</button>
    </div>
    <div class="pull-right mt">
      <button class="btn btn-primary" type="button" (click)="newPerson()">Create Person</button>
    </div>
  </div>


  <!-- START list group-->
  <div *ngIf="people">
    <div class="list-group"  *ngFor="let person of data?.peopleKeys">
      <a class="list-group-item">
        <table class="wd-wide">
          <tbody>
          <tr>
            <td class="wd-xs">
              <div class="ph">
                <em class="icon-briefcase icon"></em>
              </div>
            </td>
            <td class="wd-md">
              <div class="ph">
                <h4 class="media-box-heading">{{ fb?.peopleNameIndex[person]?.name }}</h4>
              </div>
            </td>

            <td class="wd-sm hidden-xs hidden-sm">
              <div class="ph">
                <p class="m0">{{ fb?.peopleNameIndex[person]?.address?.city }} <span>&nbsp;&nbsp;</span>{{ fb?.peopleNameIndex[person]?.address?.state }}</p>
              </div>
            </td>
            <td class="wd-sm hidden-xs hidden-sm">
              <div class="ph">
                <a class="m0" href="mailto:{{ fb?.peopleNameIndex[person]?.email }}">{{ fb?.peopleNameIndex[person]?.email }}</a>
              </div>
            </td>
            <td class="wd-sm hidden-xs hidden-sm">
              <div class="ph">
                <a class="m0" href="tel:{{ fb?.peopleNameIndex[person]?.phone }}">{{ fb?.peopleNameIndex[person]?.phone }}</a>
              </div>
            </td>
            <td class="wd-sm">
              <div class="ph flex">
                <a class="btn btn-info pull-right" type="button" [routerLink]="['/people/'+ person]">View Person</a>
                &nbsp;&nbsp;
                <input #compRef style="display: none;" type="text" value="{{ person }}">
                <button class="btn btn-labeled btn-inverse" (click)="edit(compRef.value)" type="button">
                  <i class="fa fa-edit"></i>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-labeled btn-danger" (click)="remove(compRef.value)" type="button">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
  <!-- END list group-->
</div>
<div class="panel-footer text-right">
  <button class="btn btn-default btn-md" [routerLink]="['/people']">View All People</button>
</div>
