
<ng-template tabHeading>
  <em class="icon-briefcase"></em>&nbsp;&nbsp;Parent Companies ({{data?.parentCompanyKeys.length}})
</ng-template>
<div>

  <div class="panel-body bb bt">
    <div class="half-width inline mt">
      <p-dropdown
        [options]="fb?.parentCompaniesNameArray"
        [styleClass]="'half-width'"
        [(ngModel)]="parentCompanyToAdd"
        [placeholder]="'Select Company'"
        [filter]="true"></p-dropdown>
      &nbsp;
      <button class="btn btn-info" type="button" (click)="addParentCompany()">Add</button>
    </div>
    <div class="pull-right mt">
      <button class="btn btn-primary" type="button" (click)="newParentCompany()">Create Parent Company</button>
    </div>
  </div>


  <!-- START list group-->
  <div *ngIf="data?.parentCompanyKeys">
    <div class="list-group"  *ngFor="let parentCompany of data?.parentCompanyKeys">
      <a class="list-group-item">
        <table class="wd-wide">
          <tbody>
          <tr>
            <td class="wd-xs">
              <div class="ph">
                <em class="icon-briefcase icon"></em>
              </div>
            </td>
            <td class="wd-md">
              <div class="ph">
                <h4 class="media-box-heading">{{ fb?.parentCompaniesNameIndex[parentCompany]?.name }}</h4>
              </div>
            </td>

            <td class="wd-sm hidden-xs hidden-sm">
              <div class="ph">
                <p class="m0">{{ fb?.parentCompaniesNameIndex[parentCompany]?.address?.city }} <span>&nbsp;&nbsp;</span>{{ fb?.parentCompaniesNameIndex[parentCompany]?.address?.state }}</p>
              </div>
            </td>
            <td class="wd-sm hidden-xs hidden-sm">
              <div class="ph">
                <a class="m0" href="mailto:{{ fb?.parentCompaniesNameIndex[parentCompany]?.email }}">{{ fb?.parentCompaniesNameIndex[parentCompany]?.email }}</a>
              </div>
            </td>
            <td class="wd-sm hidden-xs hidden-sm">
              <div class="ph">
                <a class="m0" href="tel:{{ fb?.parentCompaniesNameIndex[parentCompany]?.phone }}">{{ fb?.parentCompaniesNameIndex[parentCompany]?.phone }}</a>
              </div>
            </td>
            <td class="wd-sm">
              <div class="ph flex">
                <a class="btn btn-info pull-right" type="button" [routerLink]="['/parent-companies/'+ parentCompany]">View Parent Company</a>
                &nbsp;&nbsp;
                <input #compRef style="display: none;" type="text" value="{{ parentCompany }}">
                <button class="btn btn-labeled btn-inverse" (click)="edit(compRef.value)" type="button">
                  <i class="fa fa-edit"></i>
                </button>
                &nbsp;&nbsp;
                <button class="btn btn-labeled btn-danger" (click)="remove(compRef.value)" type="button">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
  <!-- END list group-->
</div>
<div class="panel-footer text-right">
  <button class="btn btn-default btn-md" [routerLink]="['/parent-companies']">View All Parent Companies</button>
</div>
